@value tablet-and-up from '/src/styles/breakpoints.module.css';

.wrapper {
  display: inline-flex;
  align-items: center;
  padding: 6px;
  gap: 10px;
  border-radius: 10px;

  @media (tablet-and-up) {
    flex-direction: column;
    gap: 10px;
    padding: 6px;
  }

  button[disabled] {
    cursor: not-allowed;
  }
}
