@value tablet-and-up from '/src/styles/breakpoints.module.css';

.comment {
  display: grid;
  justify-items: start;
  align-items: center;
  padding: clamp(16px, 4vw, 24px);
  row-gap: 16px;
  border-radius: 8px;

  grid-template-areas:
    "attribution attribution"
    "content     content"
    "rating      actions ";
  grid-template-columns: 100px 1fr;

  @media (tablet-and-up) {
    grid-template-areas:
      "rating attribution actions"
      "rating content     content";
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;

    align-items: start;
  }
}

.attribution {
  grid-area: attribution;
  display: flex;
  gap: 1rem;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }
}

.content {
  grid-area: content;
}

.rating {
  grid-area: rating;
}

.replies {
  --pad-left: 18px;
  margin-top: clamp(1rem, 4vw, 1.25rem);
  position: relative;
  padding-left: var(--pad-left);

  &::before {
    --width: 2px;
    content: "";
    display: block;
    position: absolute;
    width: var(--width);
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--clr-neutral-400);
  }

  @media (tablet-and-up) {
    --pad-left: 88px;

    &::before {
      left: calc(var(--pad-left) / 2 - (var(--width) / 2));
    }
  }
}

.replies .replies {
  /* This ensures that replies to replies don't get indented on mobile, as there is not enough space */
  --pad-left: 0px;

  &:before {
    content: none;
  }

  @media (tablet-and-up) {
    --pad-left: 88px;

    &::before {
      content: "";
    }
  }
}
